*{
    margin: 0;
    padding: 0;
}
.header{
    border-bottom: 1px solid rgb(49, 47, 47);
}
header {
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    padding: 15px 0px;
  }
  .logo {
    width: 20%;
    float: left;
  }
.logo img{
    width: 60%
}
nav{

    width: 40%;
    float: right;
}
nav ul{

    list-style: none;
    /*! float: left; */
    /*! margin-left: 30px; */
}
nav ul li {
    
    float: left;
    margin-left: 30px;
    text-transform: capitalize;
    font-size: 20px;
    color: #776c6c;
}
.content{

    width: 60%;
    margin-left: 20%;
    /*! background-color: aqua; */
    text-align: center;
}
.content h1{

    color: A3A1AA;
    font-size: 60px;
    margin-top: 20px;
}
.content h2{

    font-size: 50px;
    color: blue;
    margin: 15px opx;
}
.content p{

    margin: 20px 0px;
    font-size: 15px;
}
.content img{
width: 70%;
}